@page "/employeeoverview"
@* @attribute [StreamRendering(true)] *@
@* @rendermode InteractiveWebAssembly *@
@rendermode InteractiveWebAssembly

<PageTitle>@Title</PageTitle>
<h1>Employee Overview</h1>

@if (Employees == null)
{
  <p><em>Loading ...</em></p>
}
elseT
{
  <QuickViewPopup Employee="_selectedEmployee"></QuickViewPopup>
  <div class="row">
    @foreach (var employee in Employees)
    {
      //if error or exception thrown in Emp Card, show errcontent
      <ErrorBoundary> 
          <ChildContent>
              <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                <EmployeeCard Employee="employee" EmployeeQuickViewClicked="ShowQuickViewPopup"></EmployeeCard>
              </div>
          </ChildContent>

          <ErrorContent>
              <p class="errorUI">Invalid employee!</p>
          </ErrorContent>
      </ErrorBoundary>
    }

  </div>
}


